In [1]:
from sklearn.datasets import load_iris
from parallel_functions import *
import time

In [2]:
k_list = [3]
itr_num = 60

In [3]:
# Load the iris dataset
iris=load_iris()
data = iris.data
target = iris.target
compareClustering = CompareClustering()
compareClustering

In [4]:
start = time.time()
compareClustering.perform_ensemble_clustering('KMeans', k_list, itr_num, data, target)
end = time.time()
print(end - start)

NMF is running
MCLA is running

/home/malek/DataspellProjects/dsProject/parallel_functions.py:158: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df = self.df.append(

HBGF is running

/home/malek/DataspellProjects/dsProject/parallel_functions.py:158: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df = self.df.append(

CSPA is running

/home/malek/DataspellProjects/dsProject/parallel_functions.py:158: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df = self.df.append(

350.08291149139404

/home/malek/DataspellProjects/dsProject/parallel_functions.py:158: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df = self.df.append(

In [5]:
k_means_models = create_kmeans_models_parallel(k_list, itr_num, data)
k_means_labels = get_labels_from_models(k_means_models)

compareClustering.add_validation_results(data, target, k_means_labels, 'KMeans')

/home/malek/DataspellProjects/dsProject/parallel_functions.py:158: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df = self.df.append(

In [6]:
single_km_df = compareClustering.df
time_dic = compareClustering.time_dic

In [7]:
single_km_df.to_csv('Iris_Results/kmeans_3_itr_60_iris.csv', index=False)

In [8]:
df = pd.DataFrame.from_dict(time_dic)
df.to_csv('Iris_Results/Time_kmeans_3_itr_60_iris.csv', index= False)

In [9]:
compareClustering.display_results()

In [10]:
compareClustering.display_time()

      mean_time
nmf    0.278083
mcla  12.065363
hbgf   0.298520
cspa   0.200517

In [11]:
del compareClustering