In [1]:
import numpy as np
import pandas as pd
import time
from parallel_functions import *

In [2]:
df = pd.read_csv('seeds_dataset.txt', sep= '\t', header= None,
                 names=['area','perimeter','compactness','lengthOfKernel','widthOfKernel','asymmetryCoefficient',
                        'lengthOfKernelGroove','seedType'])

In [3]:
target = df['seedType']
data = df.drop(columns=['seedType'])

In [4]:
k_list = [3]
itr_num = 60
compareClustering = CompareClustering()

In [5]:
start = time.time()
compareClustering.perform_ensemble_clustering('KMeans', k_list, itr_num, data, target)
end = time.time()
print(end - start)

NMF is running
MCLA is running

/home/malek/DataspellProjects/dsProject/parallel_functions.py:158: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df = self.df.append(

HBGF is running

/home/malek/DataspellProjects/dsProject/parallel_functions.py:158: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df = self.df.append(

CSPA is running

/home/malek/DataspellProjects/dsProject/parallel_functions.py:158: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df = self.df.append(

342.75328636169434

/home/malek/DataspellProjects/dsProject/parallel_functions.py:158: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df = self.df.append(

In [6]:
k_means_models = create_kmeans_models_parallel(k_list, itr_num, data)
k_means_labels = get_labels_from_models(k_means_models)

compareClustering.add_validation_results(data, target, k_means_labels, 'KMeans')

/home/malek/DataspellProjects/dsProject/parallel_functions.py:158: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df = self.df.append(

In [7]:
single_km_df = compareClustering.df
time_dic = compareClustering.time_dic

In [8]:
single_km_df.to_csv('Seeds_Results/kmeans_3_itr_60_seeds.csv', index=False)

In [9]:
df = pd.DataFrame.from_dict(time_dic)
df.to_csv('Seeds_Results/Time_kmeans_3_itr_60_seeds.csv', index= False)

In [10]:
compareClustering.display_results()

In [11]:
compareClustering.display_time()

      mean_time
nmf    0.374367
mcla  11.815783
hbgf   0.342786
cspa   0.236382

In [12]:
del compareClustering